<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.lyadmin.modules.bus.mapper.TInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ly.lyadmin.modules.bus.model.TInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="min_pic_address" property="minPicAddress" jdbcType="VARCHAR" />
    <result column="pic_address" property="picAddress" jdbcType="VARCHAR" />
    <result column="pic_name" property="picName" jdbcType="VARCHAR" />
    <result column="video_address" property="videoAddress" jdbcType="VARCHAR" />
    <result column="colid" property="colid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
<!--    <result column="isdelete" property="isdelete" jdbcType="Integer" />
    <result column="is_fbtype" property="isFbtype" jdbcType="Integer" />
    <result column="order_num" property="orderNum" jdbcType="Integer" />-->
    <result column="integral" property="integral" jdbcType="VARCHAR" />
 <!--   <result column="amount_read" property="amountRead" jdbcType="Integer" />-->
    <result column="personid" property="personid" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />


  </resultMap>

  <sql id="Base_Column_List" >
    id, title, summary,content,min_pic_address,pic_address,pic_name,video_address,colid,type,platform,isdelete,is_fbtype,order_num,integral,amount_read,personid,create_time
  </sql>

  <update id="updateInfoByIds" parameterType="java.lang.String">
      update t_info set isdelete = 0 where id in
    <foreach item="id" collection="ids" open = "(" separator = "," close = ")">
        #{id}
    </foreach>
  </update>

  <select id="preContent" resultType="com.ly.lyadmin.modules.bus.model.TInfo" parameterType="java.lang.String">
    select id,title from t_info where colid = (select colid from t_info where  id = #{id}) and isdelete = 1 and create_time &gt; (select create_time from t_info where  id = #{id}) order by create_time LIMIT 1
  </select>
  <select id="nextContent" resultType="com.ly.lyadmin.modules.bus.model.TInfo" parameterType="java.lang.String">
    select id,title from t_info where colid = (select colid from t_info where  id = #{id}) and isdelete = 1 and create_time &lt; (select create_time from t_info where  id = #{id}) order by create_time desc LIMIT 1
  </select>

  <select id="readList" resultType="java.util.Map">
    select pl.*,st.keyvalue as ptname from (
    select ti.platform,sum(ti.amount_read) as readcounts from t_info ti  WHERE ti.platform not in (0) GROUP BY ti.platform
    ) pl left join (select * from t_dict where keyname = 'SDPT') st on pl.platform = st.keycode order by pl.readcounts desc
  </select>

  <select id="integralList" resultType="java.util.Map">
    select pl.*,st.keyvalue as ptname from (
    select ti.platform,sum(ti.integral) as integral from t_info ti  WHERE ti.platform not in (0) GROUP BY ti.platform
    ) pl left join (select * from t_dict where keyname = 'SDPT') st on pl.platform = st.keycode order by pl.integral desc;
  </select>

</mapper>